body{
    background: url("../img/forest.jpg") no-repeat;
    text-align: center;
    min-height: 100%;
}

#sidebar{
    width: 300px;
    background: rgba(232, 232, 232, 0.92);
    margin: 20% 5% 20% 5%;
    float: left;
    height: 400px;
    border-radius: 10px;
    
}

#sidebar a{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    background: forestgreen;
    width: 50%;
    margin: 2% auto;
    border-radius: 20px;
}

#main{
    background: rgba(232, 232, 232, 0.96);
    width:60%;
    min-height: 400px;
    float: left;
    margin: 20% 0%;
    border-radius: 10px;
    overflow: auto;
}

#main h1{
    padding: 20px;
}

.info__inner{
    width: 90%;
    margin: 0 auto;
}

.result{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: #F3CF8D;
}

.result td,th{
    border: 1px solid #000;
    padding: 5px;
}

.del{
    color:red;
    text-decoration: none;
}


